{{#book_results}}
                <div class="info">
                    <h3>{{title}}</h3>
                    <p>{{author}}</p>
                    <p>{{price}}</p>
                    <p>available:{{available}}</p>
                     <p>id:{{_id}}</p>
                </div>
            </div>
            <form {{_id}} >
                <label for="quantity">Quantity: </label>
                <input type="number" id="quantity" name="quantity">
                <button data-js-cart onclick="return false;" data-js-product-id="{{_id}}">Add to cart</button>
            </form>
            {{/book_results}}